<section class="gradient-form min-h-screen flex items-center justify-center bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">

          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container with background and description -->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #6b0000, #8b0000, #ab0000, #cb0000)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  Som més que una empresa
                </h4>
                <p class="text-sm">
                  Al nostre viver, cultivem més que plantes; cultivem connexions amb la natura, alimentem comunitats i
                  promovem un estil de vida verd i sostenible. Des de les nostres arrels profundes fins a les fulles més
                  verdes, ens esforcem per oferir no només productes de qualitat, sinó també un compromís amb el medi
                  ambient i el benestar de tots. Ens enorgulleix treballar en harmonia amb la terra i compartir la
                  nostra passió per la flora amb vosaltres. Uneix-te a nosaltres mentre explorem junts el meravellós món
                  de la jardineria i cultivem un futur més brillant i florit per a tots.
                </p>
              </div>
            </div>

            <!-- Right column container -->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!-- Logo -->
                <div class="text-center">
                  <img class="mx-auto w-48" src="../../../assets/img/logo.png" alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    Som Viver de Cellers
                  </h4>
                </div>

                <form [formGroup]="register" (ngSubmit)="submit()">
                  <!-- firstname input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="firstname" formControlName="firstname" />
                    <label for="firstname"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Nom
                    </label>

                    <!-- This field is required -->
                    <div
                      *ngIf="this.register.get('firstname')?.errors?.['required'] && this.register.get('firstname')?.touched"
                      class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- MaxLength -->
                    <div *ngIf="this.register.get('firstname')?.errors?.['maxlength'] &&
                    this.register.get('firstname')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir un màxim de 20 caràcters.
                    </div>

                    <!-- MinLength -->
                    <div *ngIf="this.register.get('firstname')?.errors?.['minlength'] &&
                    this.register.get('firstname')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir com a mínim 3 caràcters.
                    </div>

                    <!-- Only letters -->
                    <div *ngIf="this.register.get('firstname')?.errors?.['pattern'] &&
                    this.register.get('firstname')?.touched" class="text-red-500 text-xs italic">
                      Només s'accepten lletres.
                    </div>
                  </div>

                  <!-- lastname input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="Apellidos" formControlName="lastname" />
                    <label for="lastname"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Cognoms
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('lastname')?.errors?.['required'] &&
                    this.register.get('lastname')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- MaxLength -->
                    <div *ngIf="this.register.get('lastname')?.errors?.['maxlength'] &&
                    this.register.get('lastname')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir un màxim de 20 caràcters.
                    </div>

                    <!-- MinLength -->
                    <div *ngIf="this.register.get('lastname')?.errors?.['minlength'] &&
                    this.register.get('lastname')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir com a mínim 3 caràcters.
                    </div>

                    <!-- Only letters -->
                    <div *ngIf="this.register.get('lastname')?.errors?.['pattern'] &&
                        this.register.get('lastname')?.touched" class="text-red-500 text-xs italic">
                      Només s'accepten lletres.
                    </div>
                  </div>

                  <!-- DNI input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="DNI" formControlName="dni" appDni=dni />
                    <label for="dni"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">DNI
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('dni')?.errors?.['required'] &&
                    this.register.get('dni')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- MaxLength -->
                    <div *ngIf="this.register.get('dni')?.errors?.['maxlength'] &&
                        this.register.get('dni')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir un màxim de 9 caràcters.
                    </div>

                    <!-- MinLength -->
                    <div *ngIf="this.register.get('dni')?.errors?.['minlength'] &&
                     this.register.get('dni')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir com a mínim 9 caràcters.
                    </div>

                    <!-- Custom -->
                    <div *ngIf="this.register.get('dni')?.errors?.['custom'] &&
                    this.register.get('dni')?.touched" class="text-red-500 text-xs italic">
                      DNI incorrecte
                    </div>
                  </div>

                  <!-- E-mail input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="email"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="E-mail" formControlName="email" />
                    <label for="email"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Correu
                      Electrònic
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('email')?.errors?.['required'] &&
                    this.register.get('email')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- Pattern -->
                    <div *ngIf="this.register.get('email')?.errors?.['pattern'] &&
                    this.register.get('email')?.touched" class="text-red-500 text-xs italic">
                      Format invàlid.
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="password"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="Password" formControlName="password" />
                    <label for="password"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Contrasenya
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('password')?.errors?.['required'] &&
                    this.register.get('password')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- MinLength -->
                    <div *ngIf="this.register.get('password')?.errors?.['minlength'] &&
                    this.register.get('password')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir com a mínim 8 caràcters.
                    </div>
                  </div>

                  <!-- Repeat Password input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="password"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="Password" formControlName="repeatpassword" appRepeatPassword=password />
                    <label for="repeatpassword"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Repetir
                      Contrasenya
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('repeatpassword')?.errors?.['required'] &&
                    this.register.get('repeatpassword')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- Match password -->
                    <div *ngIf="this.register.get('repeatpassword')?.errors?.['custom'] &&
                    this.register.get('repeatpassword')?.touched" class="text-red-500 text-xs italic">
                      Les contrasenyes han de coincidir.
                    </div>
                  </div>

                  <!-- Address input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="Address" formControlName="address" />
                    <label for="address"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Direcció
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('address')?.errors?.['required'] &&
                    this.register.get('address')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>
                  </div>

                  <!-- Postal Code input -->
                  <div class="form-group relative mb-4" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      placeholder="Postal Code" formControlName="postalcode" />
                    <label for="postalcode"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">Codi
                      Postal
                    </label>

                    <!-- This field is required -->
                    <div *ngIf="this.register.get('postalcode')?.errors?.['required'] &&
                    this.register.get('postalcode')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- MaxLength -->
                    <div *ngIf="this.register.get('postalcode')?.errors?.['maxlength'] &&
                    this.register.get('postalcode')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir un màxim de 5 caràcters.
                    </div>

                    <!-- MinLength -->
                    <div *ngIf="this.register.get('postalcode')?.errors?.['minlength'] &&
                    this.register.get('postalcode')?.touched" class="text-red-500 text-xs italic">
                      Aquest camp només pot contenir com a mínim 5 caràcters.
                    </div>

                    <!-- Only numbers -->
                    <div *ngIf="this.register.get('postalcode')?.errors?.['pattern'] &&
                        this.register.get('postalcode')?.touched" class="text-red-500 text-xs italic">
                      Només s'accepten números.
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                      class="mb-3 w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                      type="submit" data-twe-ripple-init data-twe-ripple-color="light" style="
                    	background: linear-gradient(to right, #cb0000, #ab0000, #8b0000, #6b0000 );
                  	" [disabled]="register.invalid">
                      Registre
                    </button>
                  </div>

                  <!-- Login button -->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 me-2">Ja tens un compte?</p>
                    <button type="button"
                      class="rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-danger-50/50 hover:text-danger-600 focus:border-danger-600 focus:bg-danger-50/50 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950"
                      data-twe-ripple-init data-twe-ripple-color="light" routerLink="/login">
                      LogIn
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
