<section class="bg-neutral-200 dark:bg-neutral-700">
  <div class="container mx-auto p-6">
    <!-- Success Message -->
    <div class="bg-green-50 border border-green-400 rounded text-green-800 text-sm p-4 flex justify-between"
      *ngIf="successMessage">
      <div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              clip-rule="evenodd" />
          </svg>
          <p>
            <span class="font-bold">Info:</span>
            {{ successMessage }}
          </p>
        </div>
      </div>
      <div>
        <svg (click)="closeSuccessMessage()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <div class="overflow-x-auto rounded-lg shadow-md">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th class="px-6 py-3">Nom d'Usuari</th>
            <th class="px-6 py-3">Direcció</th>
            <th class="px-6 py-3">Preu</th>
            <th class="px-6 py-3">Estat</th>
            <th class="px-6 py-3">Mostrar Detalls</th>
            <th class="px-6 py-3">Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i = index" class="bg-white dark:bg-gray-800">
            <td class="px-6 py-4">{{ order.name }}</td>
            <td class="px-6 py-4">{{ order.address }}</td>
            <td class="px-6 py-4">{{ order.price }}</td>
            <td class="px-6 py-4">{{ order.order_status_id }}</td>
            <td class="px-6 py-4">
              <div class="inline-block align-middle border border-red-600 rounded-full p-1 hover:bg-red-100">
                <button (click)="showDetails(order)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(206, 3, 3, 1);transform: msFilter">
                    <path d="M11 6H9v3H6v2h3v3h2v-3h3V9h-3z"></path>
                    <path
                      d="M10 2c-4.411 0-8 3.589-8 8s3.589 8 8 8a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8zm0 14c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z">
                    </path>
                  </svg>
                </button>
              </div>
            </td>
            <td class="px-6 py-4 justify-center">
              <div class="inline-block align-middle border border-red-600 rounded-full p-1 hover:bg-red-100">
                <button (click)="showModifyForm(order)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="rounded-full" width="24" height="24"
                    viewBox="0 0 24 24" style="fill: rgba(206, 3, 3, 1);transform: msFilter">
                    <path
                      d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z">
                    </path>
                    <path
                      d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z">
                    </path>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- More information for the Order -->
    <div *ngIf="isDetailsVisible && selectedOrder" class="container mx-auto p-6">
      <div class="overflow-x-auto rounded-lg shadow-md">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead>
            <tr>
              <th class="px-6 py-3">Producte</th>
              <th class="px-6 py-3">Quantitat</th>
              <th class="px-6 py-3">Preu Producte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of selectedOrder.order_lines">
              <td class="px-6 py-4">{{ detail.product.name }}</td>
              <td class="px-6 py-4">{{ detail.quantity }}</td>
              <td class="px-6 py-4">{{ detail.product.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Form to modify order -->
    <div *ngIf="isModifyFormVisible && selectedOrder" class="mt-4">
      <form [formGroup]="modifyOrderForm" class="bg-white rounded shadow-md px-8 pt-6 pb-8 mb-4">
        <h2 class="text-lg font-semibold mb-4 text-center">Modificar Comanda</h2>
        <div>
          <label for="status" class="block text-sm font-bold mb-2 text-gray-700">Estat Comanda</label>
          <select formControlName="status"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option *ngFor="let status of statuses" [value]="status.id">{{ status.name }}</option>
          </select>
          <div *ngIf="modifyOrderForm.get('status')?.errors?.['required'] && modifyOrderForm.get('status')?.touched"
            class="text-red-500 text-xs italic">
            Seleccioneu un estat.
          </div>
        </div>

        <div class="bg-red-50 border border-red-400 rounded text-red-800 text-sm p-4 flex justify-between"
          *ngIf="errorMessage">
          <div>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd" />
              </svg>
              <p>
                <span class="font-bold">Error:</span>
                {{ errorMessage }}
              </p>
            </div>
          </div>
          <div>
            <svg (click)="closeErrorMessage()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>

        <div class="mt-6 flex justify-center items-center space-x-4">
          <button type="button"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="onSubmit()" [disabled]="modifyOrderForm.invalid">Modificar Comanda</button>
          <button type="button"
            class="bg-white hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded border border-red-500 focus:outline-none focus:shadow-outline"
            (click)="cancelar()">Cancel·lar</button>
        </div>
      </form>
    </div>
  </div>
</section>
