<img src="/assets/img/header-background/home-background.jpg" alt="Imatge 1"
  style="background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 70vh;">

<div class="container mx-auto py-8">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold mb-4">Qui pot ser viverista?</h1>
  </div>
  <div class="flex justify-center">
    <div class="max-w-md px-6 py-4 bg-white rounded-lg shadow-lg">
      <p class="text-gray-800 leading-relaxed">El viver proporcionarà els mitjans tècnics i d'infraestructura que
        sigui possible per tal que cadascuna dels usuaris pugui desenvolupar de manera correcta el seu projecte.</p>
      <br>
      <p class="text-gray-800 leading-relaxed">Es proporcionarà també formació i assessorament al conjunt dels usuaris
        del viver en els diferents vessants tècnics, econòmiques i administratives necessàries per al correcte
        desenvolupament dels diferents projectes.</p>
    </div>
  </div>

  <div class="p-6 bg-white rounded-lg shadow-md mt-8">
    <p class="text-lg font-semibold text-center text-gray-900 mb-4">Reglament del viver de Cellers</p>
    <p class="text-gray-800">El Reglament de Funcionament Intern del Viver de Cellers de Vilafranca del
      Penedès regula el funcionament d'un viver d'empreses especialitzat en l'elaboració de vi de qualitat. Està
      gestionat pel Consell Regulador de la Denominació d'Origen Penedès, l'Ajuntament de Vilafranca del Penedès i el
      Consell Comarcal de l'Alt Penedès, i estableix els drets i obligacions dels seus usuaris o beneficiaris.</p>
    <p class="text-gray-800 mt-2">Els beneficiaris del viver són persones físiques o jurídiques amb un projecte
      empresarial que compleixi certs requisits, com estar donats d'alta en activitats vitivinícoles, tenir
      experiència
      i formació relacionada, i tenir com a objectiu l'elaboració de vins dins de la Denominació d'Origen Penedès. La
      Comissió de Gestió avaluarà les sol·licituds i emetrà informes per a l'adjudicació d'espais en el viver.</p>
    <p class="text-gray-800 mt-2">El procediment d'adjudicació es basa en principis de transparència i
      imparcialitat, considerant criteris com l'experiència, formació, viabilitat del projecte i entrevistes
      personals.
      La Comissió de Gestió realitza un seguiment periòdic dels projectes i decideix sobre les sol·licituds de
      pròrroga.
      També s'encarrega de planificar inversions, avaluar tarifes i aplicar sancions si és necessari.</p>
    <p class="text-gray-800 mt-2">El viver proporciona recursos tècnics i infraestructura per al desenvolupament
      dels projectes, i ofereix formació i assessorament. Els usuaris tenen dret a utilitzar els recursos comuns i
      rebre
      el viver en bones condicions, però també tenen deures com mantenir i cuidar les instal·lacions i pagar les
      tarifes
      corresponents. A més, han de complir amb la normativa laboral i fiscal.</p>
    <p class="text-gray-800 mt-2">El règim econòmic inclou quotes mensuals fixes i variables basades en la
      quantitat de vi elaborat. També s'estableixen costos addicionals per a la custòdia de bótes i altres serveis.
    </p>
    <p class="text-gray-800 mt-2">En resum, el reglament estableix un marc per al desenvolupament de projectes
      vitivinícoles dins del viver, amb èmfasi en la viabilitat, formació i compliment de normatives, així com en la
      sostenibilitat econòmica del viver.</p>
  </div>
</div>
