<img src="/assets/img/header-background/home-background.jpg" alt="Imatge 1"
  style="background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 70vh;">

<div class="container mx-auto py-8 selection:bg-gray-300">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold mb-4">Qui pot ser viverista?</h1>
  </div>
  <div class="flex justify-center">
    <div class="max-w-md px-6 py-4 bg-white rounded-lg shadow-lg">
      <p class="text-gray-800 leading-relaxed">El viver està dirigit a persones emprenedores que vulguin elaborar vins
        de qualitat.
        És condició indispensable que les vinyes origen estiguin en l’àmbit geogràfic de la DO Penedès, i que tinguin
        com a objectiu la comercialització de vi embotellat.</p>
      <br>
      <p class="text-gray-800 leading-relaxed">Poden beneficiar-se dels serveis d’aquest viver aquelles persones
        físiques o jurídiques amb un projecte empresarial, i que complexin amb els requisits establerts en el reglament</p>
        <a target="_blank"
        href="https://cellerviverpenedes.cat/reglament-viver-celleristes.pdf"
        class="text-blue-500 hover:underline mb-4">
        REGLAMENT DEL VIVER DE CELLERS
      </a>
    </div>
  </div>

  <div class="p-6 bg-white rounded-lg shadow-md mt-8">
    <p class="text-lg font-semibold text-center text-gray-900 mb-4">Sol·licitud formal</p>
    <p class="text-gray-800">Les persones emprenedores interessades en acollir-se al viver d’empreses han de presentar la sol·licitud formal
      al Consell Regulador de la DO Penedès mitjançant correu electrònic a  info@cellerviverpenedes.cat adjuntant la següent documentació:</p>
    <p class="text-gray-800 mt-2">Els beneficiaris del viver són persones físiques o jurídiques amb un projecte
      empresarial que compleixi certs requisits, com estar donats d'alta en activitats vitivinícoles, tenir
      experiència
      i formació relacionada, i tenir com a objectiu l'elaboració de vins dins de la Denominació d'Origen Penedès. La
      Comissió de Gestió avaluarà les sol·licituds i emetrà informes per a l'adjudicació d'espais en el viver.</p>
      <p class="text-gray-800 mt-2">
        - Currículum Vitae de la persona emprenedora i memòria descriptiva del projecte empresarial, que, com a mínim,
        haurà de contenir els següents apartats: dades personals de les persones promotores, objectiu de l’activitat, mercat, singularitat i
        aspectes diferencials del projecte en relació amb la competència.
        <br>
        - Finançament previst, previsions de facturació.
      Els criteris de valoració de les sol·licituds estan establerts en el reglament del viver.
      </p>

      <p class="text-lg font-semibold text-center text-gray-900 mb-4">Primera convocatòria 2023</p>
        <p class="text-gray-800 mt-2">
          - Presentació de documentació: fins al 28 d'abril
          - Primer llistat de viveristes 2023: 19 de maig
          - Període de reclamacions: fins al 26 de maig
          - Llistat final de viveristes 2023: 2 de juny
          - Període de reclamacions: fins al 26 de maig
          - Llistat final de viveristes 2023: 2 de juny
        </p>

  </div>
</div>
