<div class="container mx-auto py-8">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold mb-4">Qui pot ser viverista?</h1>
  </div>
  <div class="flex justify-center">
    <div class="max-w-md px-6 py-4 bg-white rounded-lg shadow-lg">
      <p class="text-gray-800 leading-relaxed">El viver proporcionarà els mitjans tècnics i d’infraestructura que
        sigui possible per tal que cadascuna de les persones usuàries pugui desenvolupar de manera correcte el seu
        projecte.</p>
      <br>
      <p class="text-gray-800 leading-relaxed">Es proporcionarà també formació i assessorament al conjunt de les
        persones usuàries del viver en les diferents vessants tècniques, econòmiques i administratives necessàries per
        al correcte desenvolupament dels diferents projectes.</p>
    </div>
  </div>

  <div class="p-6 bg-white rounded-lg shadow-md mt-8">
    <p class="text-lg font-semibold text-center text-gray-900 mb-4">Reglament del viver de Cellers</p>
    <p class="text-center text-gray-800">Resumen del reglamento</p>
  </div>

  <div class="p-6 bg-white rounded-lg shadow-md mt-8">
    <h1 class="text-2xl font-semibold text-gray-900 mb-4">Documentació adjunta</h1>
    <p class="text-gray-800">Les persones emprenedores interessades en acollir.</p>
  </div>

  <div class="p-6 bg-red-300 rounded-lg shadow-md mt-8">
    <p class="text-lg font-semibold text-center text-gray-900 mb-4">Primera convocatoria 2023</p>
    <ul class="text-gray-800">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>

  <div class="p-6 bg-red-500 rounded-lg shadow-md mt-8">
    <p class="text-lg font-semibold text-center text-white mb-4">Contacto:</p>
    <form>
      <div class="mb-4">
        <label for="nombre" class="block text-gray-900">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="w-full border-gray-300 rounded-md p-2">
      </div>
      <div class="mb-4">
        <label for="correo" class="block text-gray-900">Correo:</label>
        <input type="email" id="correo" name="correo" placeholder="Correo electrónico"
          class="w-full border-gray-300 rounded-md p-2">
      </div>
      <button type="submit" class="bg-red-700 text-white py-2 px-4 rounded-md hover:bg-red-800">Enviar</button>
    </form>
  </div>
</div>
