<img src="/assets/img/header-background/home-background.jpg" alt="Imatge 1"
  style="background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 70vh;">

<div class="container mx-auto py-8">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold mb-8">Projecte d'Especialització i Competitivitat Territorial</h1>
    <p class="text-lg text-gray-700 leading-relaxed mb-4">
      El PECT és el Projecte d'Especialització i Competitivitat Territorial emmarcat en l’estratègia de Recerca i
      Innovació per a l'Especialització Intel·ligent de Catalunya (RIS3CAT), finançat per la Generalitat de
      Catalunya.
    </p>
    <p class="text-lg text-gray-700 leading-relaxed mb-4">
      L’Ajuntament de Vilafranca és membre del PECT “Penedès Territori Vitivinícola: Innovació Sostenible i
      Saludable” i és en aquest marc que està portant a terme la creació del viver de cellers per tal que els
      joves emprenedors.
    </p>
    <a target="_blank"
      href="https://promocioeconomica.vilafranca.cat/assessorament/foment-de-lemprenedoria/projecte-despecialitzacio-i-competitivitat-territorial-penedes"
      class="text-blue-500 hover:underline mb-4">
      Més informació
    </a>
  </div>

  <div class="flex justify-center items-center">
    <a target="_blank"
      href="https://promocioeconomica.vilafranca.cat/assessorament/foment-de-lemprenedoria/projecte-despecialitzacio-i-competitivitat-territorial-penedes">
      <img
        class="md:h-3/5 md:w-full lg:h-1/4 lg:w-2/4 mx-auto transition-all duration-100 cursor-pointer filter hover:grayscale"
        src="../../../assets/img/generales/pect.webp" alt="Imatge PECT" />
    </a>
  </div>
</div>
