<div class="container mx-auto py-8">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold mb-4">Informació del Viver</h1>
  </div>

  <div class="flex justify-center">
    <div class="w-full lg:w-3/4 xl:w-1/2 p-4">
      <div class="prose lg:prose-lg">
        <p class="text-lg leading-relaxed">
          El viver de cellers de Vilafranca del Penedès s'estableix com un punt de referència clau per al suport a
          l'emprenedoria en el sector vitivinícola. El seu enfocament es focalitza en impulsar iniciatives innovadores,
          sostenibles i saludables en la producció de vins.
        </p>
        <p class="text-lg leading-relaxed">
          Aquest espai ofereix una àmplia gamma de recursos i serveis especialitzats per a facilitar el desenvolupament
          de nous projectes en l'àmbit vitivinícola. Des d'instal·lacions modernes fins a equipament d'última generació,
          el viver proporciona tot el necessari per a dur a terme activitats vitivinícoles de manera eficient i
          efectiva.
        </p>
        <p class="text-lg leading-relaxed">
          A més de les infraestructures físiques, el viver de cellers també es destaca pel seu compromís amb la
          transferència de coneixements tècnics i de gestió. Es brinden programes de formació i assessorament
          personalitzat per a ajudar els emprenedors a adquirir les habilitats necessàries i afrontar els desafiaments
          del mercat vitivinícola.
        </p>
        <p class="text-lg leading-relaxed">
          Una de les característiques distintives del viver és el seu èmfasi a fomentar la col·laboració entre
          emprenedors. Es promouen espais d'interacció i networking on els professionals del sector poden compartir
          idees, experiències i recursos. Aquesta col·laboració fomenta la sinergia i l'intercanvi de coneixements,
          contribuint així a la innovació i al desenvolupament continu del sector.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/amat-i-montane.png"
          alt="Projecte 1">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/heretat-balta-de-cela.png"
          alt="Projecte 2">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/heretat-can-serra.png"
          alt="Projecte 3">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/joan-grill.png"
          alt="Projecte 4">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/mulet-viticultors.png"
          alt="Projecte 5">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/vins-de-sinergia.png"
          alt="Projecte 6">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/vins-geniu.png"
          alt="Projecte 7">
      </div>
    </div>
  </div>
</div>
