<div class="container mx-auto py-8">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold mb-4">Informació del Viver</h1>
  </div>

  <div class="flex justify-center">
    <div class="w-full lg:w-3/4 xl:w-1/2 p-4">
      <div class="prose lg:prose-lg">
        <p class="text-lg leading-relaxed">
          El vivero de bodegas de Vilafranca del Penedès se establece como un punto de referencia clave para el apoyo al
          emprendimiento en el sector vitivinícola. Su enfoque se centra en impulsar iniciativas innovadoras,
          sostenibles y
          saludables en la producción de vinos.
        </p>
        <p class="text-lg leading-relaxed">
          Este espacio ofrece una amplia gama de recursos y servicios especializados para facilitar el desarrollo de
          nuevos
          proyectos en el ámbito vitivinícola. Desde instalaciones modernas hasta equipamiento de última generación, el
          vivero proporciona todo lo necesario para llevar a cabo actividades vitivinícolas de manera eficiente y
          efectiva.
        </p>
        <p class="text-lg leading-relaxed">
          Además de las infraestructuras físicas, el vivero de bodegas también se destaca por su compromiso con la
          transferencia de conocimientos técnicos y de gestión. Se brindan programas de formación y asesoramiento
          personalizado para ayudar a los emprendedores a adquirir las habilidades necesarias y afrontar los desafíos
          del
          mercado vitivinícola.
        </p>
        <p class="text-lg leading-relaxed">
          Una de las características distintivas del vivero es su énfasis en fomentar la colaboración entre
          emprendedores.
          Se promueven espacios de interacción y networking donde los profesionales del sector pueden compartir ideas,
          experiencias y recursos. Esta colaboración fomenta la sinergia y el intercambio de conocimientos,
          contribuyendo
          así a la innovación y al desarrollo continuo del sector.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/amat-i-montane.png"
          alt="Proyecto 1">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/heretat-balta-de-cela.png"
          alt="Proyecto 2">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/heretat-can-serra.png"
          alt="Proyecto 3">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/joan-grill.png"
          alt="Proyecto 4">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/mulet-viticultors.png"
          alt="Proyecto 5">
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 row-span-5">
        <img class="w-full h-auto md:w-auto lg:w-full" src="./../../../assets/img/projects/vins-de-sinergia.png"
          alt="Proyecto 6">
      </div>
    </div>
  </div>
</div>
