<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 order-2 md:order-1">
      <p class="text-lg leading-relaxed">El viver proporcionarà els mitjans tècnics i d’infraestructura que sigui
        possible per tal que cadascuna de les persones usuàries pugui desenvolupar de manera correcte el seu projecte.
      </p>
    </div>
    <div class="md:col-span-2 order-1 md:order-2 flex justify-center items-center">
      <img src="../../../assets/img/logo.png" alt="Logo" class="max-w-full h-auto">
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 flex justify-center items-center">
      <img src="../../../assets/img/logo.png" alt="Logo" class="max-w-full h-auto">
    </div>
    <div class="md:col-span-2">
      <p class="text-lg leading-relaxed">Es proporcionarà també formació i assessorament al conjunt de les persones
        usuàries del viver en les diferents vessants tècniques, econòmiques i administratives necessàries per al
        correcte desenvolupament dels diferents projectes.</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 order-2 md:order-1">
      <p class="text-lg leading-relaxed">El viver comptarà amb l’espai habilitat com a celler on les persones usuàries
        podran dur a terme el procés de vinificació, des de l’entrada del raïm i fins l’embotellat i del vi, espais de
        magatzem, espais polivalents per a reunions i activitats formatives i sala de tasts.</p>
    </div>
    <div class="md:col-span-2 order-1 md:order-2 flex justify-center items-center">
      <img src="../../../assets/img/logo.png" alt="Logo" class="max-w-full h-auto">
    </div>
  </div>
</div>
