<img src="/assets/img/header-background/services-background.webp" alt="Imatge 1"
  style="background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 70vh;">

<div class="container mx-auto py-8 selection:bg-gray-300">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Serveis</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 order-2 md:order-1">
      <p class="text-lg leading-relaxed">El viver proporcionarà els mitjans tècnics i d'infraestructura que sigui
        possible per tal que cadascuna dels usuaris pugui desenvolupar de manera correcta el seu projecte.
      </p>
    </div>
    <div class="md:col-span-2 order-1 md:order-2 flex justify-center items-center">
      <img src="../../../assets/img/generales/img-viver/mirilla.jpg" alt="Logotip" class="max-w-full h-auto">
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 flex justify-center items-center">
      <img src="../../../assets/img/generales/img-viver/elaboració_vi.jpg" alt="Logotip" class="max-w-full h-auto">
    </div>
    <div class="md:col-span-2">
      <p class="text-lg leading-relaxed">Es proporcionarà també formació i assessorament al conjunt dels usuaris del
        viver en els diferents vessants tècnics, econòmiques i administratives necessàries per al correcte
        desenvolupament dels diferents projectes.</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-8">
    <div class="md:col-span-2 order-2 md:order-1">
      <p class="text-lg leading-relaxed">El viver constarà de l'espai habilitat com a celler on els usuaris
        podran dur a terme el procés de vinificació, des de l'entrada del raïm i fins a l'embotellament i del vi, espais
        de magatzem, espais polivalents per a reunions i activitats formatives i sala de tasts.</p>
    </div>
    <div class="md:col-span-2 order-1 md:order-2 flex justify-center items-center">
      <img src="../../../assets/img/generales/img-viver/viver_cellers_2.jpg" alt="Logotip" class="max-w-full h-auto">
    </div>
  </div>
</div>
