<div class="container mx-auto py-8">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold mb-8">Reglament del viver</h1>
    <p class="text-lg text-gray-700 leading-relaxed">
      El reglament té per objecte regular el funcionament del viver d’empreses especialitzat en l’elaboració de vi de
      qualitat, gestionat pel Consell Regulador de la Denominació d’Origen Penedès, conjuntament amb l’Ajuntament de
      Vilafranca del Penedès i el Consell Comarcal de l’Alt Penedès, així com els drets i obligacions dels seus usuaris
      o beneficiaris.
    </p>
  </div>
  <div class="flex flex-col items-center">
    <a target="_blank" href="https://cellerviverpenedes.cat/reglament-viver-celleristes.pdf">
      <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded-full">
        PDF reglament
      </button>
    </a>
  </div>
</div>
