<section class="bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img class="mx-auto w-48" src="../../../assets/img/logo.png" alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    Som Viver de Cellers
                  </h4>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <p class="mb-4">Si us plau, iniciï sessió amb el seu compte</p>
                  <!-- Email input -->
                  <div class="relative mb-4" data-twe-input-wrapper-init>
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correu Electrònic</label>
                    <input type="text" formControlName="email" id="email"
                      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                      placeholder="Correu Electrònic">

                    <!-- Required validation -->
                    <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
                      class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- Email format validation -->
                    <div *ngIf="loginForm.get('email')?.errors?.['pattern'] && loginForm.get('email')?.touched"
                      class="text-red-500 text-xs italic">
                      Format d'email invàlid.
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="relative mb-4" data-twe-input-wrapper-init>
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contrasenya</label>
                    <input type="password" formControlName="password" id="password"
                      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm"
                      placeholder="Contrasenya">

                    <!-- Required validation -->
                    <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
                      class="text-red-500 text-xs italic">
                      Aquest camp és obligatori.
                    </div>

                    <!-- Minlength validation -->
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
                      class="text-red-500 text-xs italic">
                      La contrasenya ha de tenir com a mínim 8 caràcters.
                    </div>
                  </div>

                  <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>

                  <!-- Submit button -->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                      type="submit" [disabled]="loginForm.invalid" data-twe-ripple-init data-twe-ripple-color="light"
                      style="background: linear-gradient(to right, #6b0000, #8b0000, #ab0000, #cb0000);">
                      Inicieu sessió
                    </button>
                  </div>

                  <!-- Register button -->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 me-2">No tens un compte?</p>
                    <button type="button"
                      class="rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-danger-50/50 hover:text-danger-600 focus:border-danger-600 focus:bg-danger-50/50 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950"
                      data-twe-ripple-init data-twe-ripple-color="light" routerLink="/register">
                      Registre
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #cb0000, #ab0000, #8b0000, #6b0000 )">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  Som més que una empresa
                </h4>
                <p class="text-sm">
                  És molt important tenir al nostre client content amb el nostre vi,
                  brindem el millor per a què puguin gaudir del millor vi de cada projecte
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
