<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"
  class="max-w-md mx-auto mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <!-- name input -->
  <div class="mb-4">
    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nom</label>
    <input type="text" formControlName="name" id="name"
      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" placeholder="Nombre">

    <!-- This field is required -->
    <div *ngIf="this.profileForm.get('name')?.errors?.['required'] &&
        this.profileForm.get('name')?.touched" class="text-red-500 text-xs italic">
      Aquest camp és obligatori.
    </div>

    <!-- MaxLength -->
    <div *ngIf="this.profileForm.get('name')?.errors?.['maxlength'] &&
      this.profileForm.get('name')?.touched" class="text-red-500 text-xs italic">
      Aquest camp només pot contenir un màxim de 20 caràcters.
    </div>

    <!-- MinLength -->
    <div *ngIf="this.profileForm.get('name')?.errors?.['minlength'] &&
      this.profileForm.get('name')?.touched" class="text-red-500 text-xs italic">
      Aquest camp només pot contenir com a mínim 3 caràcters.
    </div>

    <!-- Only letters -->
    <div *ngIf="this.profileForm.get('name')?.errors?.['pattern'] &&
      this.profileForm.get('name')?.touched" class="text-red-500 text-xs italic">
      Només s'accepten lletres.
    </div>
  </div>
  <!-- lastname input -->
  <div class="mb-4">
    <label for="lastname" class="block text-gray-700 text-sm font-bold mb-2">Cognoms</label>
    <input type="text" formControlName="lastname" id="lastname"
      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" placeholder="Apellido">

    <!-- This field is required -->
    <div *ngIf="this.profileForm.get('lastname')?.errors?.['required'] &&
       this.profileForm.get('lastname')?.touched" class="text-red-500 text-xs italic">
      Aquest camp és obligatori.
    </div>

    <!-- MaxLength -->
    <div *ngIf="this.profileForm.get('lastname')?.errors?.['maxlength'] &&
       this.profileForm.get('lastname')?.touched" class="text-red-500 text-xs italic">
      Aquest camp només pot contenir un màxim de 20 caràcters.
    </div>

    <!-- MinLength -->
    <div *ngIf="this.profileForm.get('lastname')?.errors?.['minlength'] &&
       this.profileForm.get('lastname')?.touched" class="text-red-500 text-xs italic">
      Aquest camp només pot contenir com a mínim 3 caràcters.
    </div>

    <!-- Only letters -->
    <div *ngIf="this.profileForm.get('lastname')?.errors?.['pattern'] &&
           this.profileForm.get('lastname')?.touched" class="text-red-500 text-xs italic">
      Només s'accepten lletres.
    </div>
  </div>
  <!-- E-mail input -->
  <div class="mb-4">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correu Electrònic</label>
    <input type="email" formControlName="email" id="email"
      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" placeholder="Correo Electrónico">

    <!-- This field is required -->
    <div *ngIf="this.profileForm.get('email')?.errors?.['required'] &&
       this.profileForm.get('email')?.touched" class="text-red-500 text-xs italic">
      Aquest camp és obligatori.
    </div>

    <!-- Pattern -->
    <div *ngIf="this.profileForm.get('email')?.errors?.['pattern'] &&
       this.profileForm.get('email')?.touched" class="text-red-500 text-xs italic">
      Format invàlid.
    </div>
  </div>
  <!-- Password input -->
  <div class="mb-6">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contrasenya</label>
    <input type="password" formControlName="password" id="password"
      class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm" placeholder="Contraseña">

    <!-- This field is required -->
    <div *ngIf="this.profileForm.get('password')?.errors?.['required'] &&
        this.profileForm.get('password')?.touched" class="text-red-500 text-xs italic">
      Aquest camp és obligatori.
    </div>

    <!-- MinLength -->
    <div *ngIf="this.profileForm.get('password')?.errors?.['minlength'] &&
        this.profileForm.get('password')?.touched" class="text-red-500 text-xs italic">
      Aquest camp només pot contenir com a mínim 8 caràcters.
    </div>
  </div>
  <button type="submit"
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    [disabled]="profileForm.invalid">Guardar Canvis</button>

  <!-- Success Message -->
  <div class="text-green-500 text-sm mt-4" *ngIf="successMessage">{{ successMessage }}</div>

  <!-- Error message -->
  <div class="text-red-500 text-sm mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
