<div class="container mx-auto py-8">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Benvingut al Viver de Cellers del Penedés</h1>
    <p class="text-lg text-gray-700 leading-relaxed">
      El Viver de Cellers del Penedés és una iniciativa col·laborativa entre l'Ajuntament de Vilafranca del Penedès, el
      Consell Comarcal Alt Penedès, la Denominació d’Origen Penedès i la Diputació de Barcelona. El seu propòsit és
      impulsar i recolzar iniciatives vitivinícoles en el reconegut territori català del Penedès.
    </p>
  </div>

  <div class="mt-12">
    <h2 class="text-2xl font-bold mb-4">Cellers participants</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Bodega 1 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/heretat-can-serra.png" alt="Imatge del celler 1"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Heretat Can Serra</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 2 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/mulet-viticultors.png" alt="Imatge del celler 2"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Mulet Viticultors</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 3 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/vins-de-sinergia.png" alt="Imatge del celler 3"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Vins de Sinergia</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 4 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/vins-geniu.png" alt="Imatge del celler 4"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Vins Gèniu</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 5 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/joan-grill.png" alt="Imatge del celler 5"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Joan Grill</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 6 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/amat-i-montane.png" alt="Imatge del celler 6"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Amat i Montané</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>

      <!-- Bodega 7 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md">
        <img src="/assets/img/projects/heretat-balta-de-cela.png" alt="Imatge del celler 7"
          class="w-full h-48 object-cover object-center">
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">Heretat Baltà de Cela</h3>
          <p class="text-gray-700">Breu descripció o informació addicional sobre el celler.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-12 text-center">
    <a routerLink="/home" class="text-blue-500 hover:underline">Veure tots els cellers participants</a>
  </div>

  <!-- Video de YouTube -->
  <div class="mt-12 overflow-hidden">
    <div class="aspect-w-16 aspect-h-9">
      <iframe class="w-full h-full" src="https://www.youtube.com/embed/br184Lt6gdI?si=VKDo-ecLFWucdcNP"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
