<section class="bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div *ngFor="let order of orders" class="mb-8 p-4 bg-white shadow-lg rounded-lg">
      <h3 class="text-lg font-bold mb-2">Pedido ID: {{ order.id }}</h3>

      <!-- Status Progress -->
      <div class="mt-4 relative">
        <!-- Central Bar -->
        <div class="absolute transform -translate-x-1/2"></div>
        <ol class="flex flex-wrap items-center justify-between z-10 relative">
          <ng-container *ngFor="let status of statusList; let i = index">
            <li [ngClass]="{
            'text-green-500': order.status.id >= status.id && order.status.id !== 6,
            'text-gray-400': order.status.id < status.id || order.status.id === 6
          }" class="flex items-center mb-2 sm:mb-0">
              <div class="flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 rounded-full" [ngClass]="{
              'bg-green-100': order.status.id >= status.id && order.status.id !== 6,
              'bg-gray-100': order.status.id < status.id || order.status.id === 6
            }">
                <!-- SVG or IMG based on status -->
                <ng-container *ngIf="order.status.id !== 6; else cancelledIcon">
                  <svg *ngIf="order.status.id >= status.id" class="w-4 h-4 sm:w-6 sm:h-6" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    style="fill: rgb(84, 83, 83);transform: msFilter">
                    <path
                      d="M7 5c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2H7zm0 12V7h10l.002 10H7z">
                    </path>
                    <path d="M10.996 12.556 9.7 11.285l-1.4 1.43 2.704 2.647 4.699-4.651-1.406-1.422z"></path>
                  </svg>
                  <svg *ngIf="order.status.id < status.id" class="w-4 h-4 sm:w-6 sm:h-6" fill="currentColor"
                    viewBox="0 0 20 20">
                    <use xlink:href="#icon-unchecked"></use>
                  </svg>
                </ng-container>
                <ng-template #cancelledIcon>
                  <svg class="w-4 h-4 sm:w-6 sm:h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" style="fill: rgba(84, 83, 83, 1);transform: msFilter">
                    <path
                      d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                    </path>
                  </svg>
                </ng-template>
              </div>
              <span class="text-sm ml-2">{{ status.name }}</span>
              <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m7 9 4-4-4-4M1 9l4-4-4-4" />
              </svg>
            </li>
          </ng-container>
        </ol>
      </div>

      <!-- Order Details -->
      <div class="mt-4">
        <p class="text-gray-700">Total: {{ order.price }}€</p>
        <p class="text-gray-700">Dirección: {{ order.address }}</p>
      </div>
    </div>
  </div>
</section>
