<div *ngFor="let project of projects">
  <!--Project information-->
  <div class="bg-gray-100 dark:bg-gray-800 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row -mx-4">
        <div class="md:flex-1 px-4">
          <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
            <img [src]="project.logo_path" [alt]="project.project_name + ' logo'" class="object-contain w-full h-full">
          </div>
        </div>
        <div class="md:flex-1 px-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">{{ project.project_name }}</h2>
          <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
            {{ project.description }}
          </p>
          <div>
            <span class="font-bold text-gray-700 dark:text-gray-300">Definició del projecte:</span>
            <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
              {{ project.definition }}
            </p>
          </div>
          <br>
          <div>
            <span class="font-bold text-gray-700 dark:text-gray-300">Història:</span>
            <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
              {{ project.stories }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Project Products -->
  <h1 class="text-center text-4xl font-bold mb-4">Productes de {{ project.project_name }}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 justify-items-center">
    <div *ngFor="let product of products">
      <!--If the project.id of the product and the project.id of the project match, display image, name and winemaking-->
      <div *ngIf="product.project_id === project.id">
        <div class="mt-12">
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img [src]="product.image_path" alt="{{product.name}}" class="object-contain w-full h-full">
            <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.name}}</h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.winemaking}}</p>
              <a [routerLink]="['/shop']"
                class="text-sm text-gray-600 mb-2 underline hover:text-gray-900 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(158, 157, 157, 1);transform: msFilter"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Project Gallery-->
  <div class="bg-gray-100 dark:bg-gray-800 py-8 text-center">
    <h1 class="text-4xl font-bold mb-4">Galeria</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4" *ngIf="products.length > 0">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="../../../assets/img/projects/{{ project.project_name }}/{{ project.project_name }}1.png"
          alt="{{ project.project_name }} integrants">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="../../../assets/img/projects/{{ project.project_name }}/{{ project.project_name }}2.png"
          alt="{{ project.project_name }} producte">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="../../../assets/img/projects/{{ project.project_name }}/{{ project.project_name }}3.png"
          alt="{{ project.project_name }} vinya">
      </div>
    </div>
  </div>
</div>
