<footer class="bg-white-900 py-12 selection:bg-gray-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row items-center justify-center">
    <div class="text-center md:mr-16 md:mt-0 md:space-y-4">
      <a href="https://cellerviverpenedes.cat"
        class="flex items-center justify-center md:justify-start space-x-3 rtl:space-x-reverse">
        <img src="../../../assets/img/logo.png" class="h-auto w-auto max-h-16"
          alt="Logo de Viver de cellers del Penedès" />
      </a>
      <address class="mt-4 text-gray-300">
        Viver de cellers del Penedès <br>
        Carrer del Comerç <br>
        0872 Vilafranca del Penedès
      </address>
    </div>
    <div class="flex justify-center md:justify-end md:items-center md:space-x-8 md:space-y-4">
      <div class="flex flex-col items-center">
        <a href="https://www.ccapenedes.cat/" class="logo-link">
          <img src="../../../assets/img/logo/logo_consellComarcal.png" class="logo-img max-h-12"
            alt="Logo de Consell Comarcal del Penedès" />
        </a>

        <a href="https://www.vilafranca.cat/" class="logo-link">
          <img src="../../../assets/img/logo/logo_ajuntamentVilafranca.png" class="logo-img max-h-12"
            alt="Logo del Ajuntament de Vilafranca del Penedès" />
        </a>
      </div>

      <div class="flex flex-col items-center">
        <a href="https://www.diba.cat/" class="logo-link">
          <img src="../../../assets/img/logo/logo_diputacioBarcelona.jpg" class="logo-img max-h-12"
            alt="Logo de Diputació de Barcelona" />
        </a>

        <a href="https://dopenedes.cat/" class="logo-link">
          <img src="../../../assets/img/logo/logo_denominacioOrigen.jpg" class="logo-img max-h-12"
            alt="Logo de la Denominació d'Origen del Penedès" />
        </a>
      </div>
    </div>
  </div>
  <hr class="my-6 border-gray-300" />
  <div class="text-center text-gray-300">
    <span class="block mb-2">© 2024 <a href="https://cellerviverpenedes.cat" class="hover:text-white">Viver de
        Cellers</a>. All Rights Reserved - Tots els drets reservats</span>
  </div>
</footer>
