<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8 selection:bg-gray-300">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="w-full max-w-screen-xl mx-auto">
      <img src="../../../assets/img/logo.png" alt="Viver del Cellers" class="w-full md:w-auto md:max-w-full">
    </div>
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      ¡Ups! Alguna cosa ha sortir malament.
    </h2>
    <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
      No vam poder trobar la pàgina que estaves buscant. Si us plau, intenta novament més tard.
    </p>
    <div class="mt-6">
      <div class="rounded-md shadow-sm">
        <div class="rounded-md shadow-sm">
          <a href="/"
            class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-800 hover:bg-red-700 focus:outline-none focus:border-red-900 focus:shadow-outline-red transition duration-150 ease-in-out md:py-2 md:text-lg md:px-10">
            Tornar a l'inici
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
