<section class="bg-neutral-200 dark:bg-neutral-700 selection:bg-gray-300">
  <div class="container mx-auto p-6">
    <!-- User table -->
    <div class="overflow-x-auto rounded-lg shadow-md">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-center text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th class="px-6 py-3">Nom</th>
            <th class="px-6 py-3">Cognoms</th>
            <th class="px-6 py-3">Correu Electrònic</th>
            <th class="px-6 py-3">Modificar</th>
            <th class="px-6 py-3">Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users; let i = index">
          <tr class="bg-white dark:bg-gray-800 text-center"
            *ngIf="user.id !== logedId && user.token !== logedToken && user.name !== logedName">

            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
              {{user.name}}
            </td>
            <td class="px-6 py-4">{{user.lastname}}</td>
            <td class="px-6 py-4">{{user.email}}</td>
            <td class="px-6 py-4 justify-center">
              <div class="inline-block align-middle border border-red-600 rounded-full p-1 hover:bg-red-100">
                <button (click)="toggleModifyFormVisibility(user.id)" [disabled]="modifyButtonsDisabled[i]">
                  <svg xmlns="http://www.w3.org/2000/svg" class="rounded-full" width="24" height="24"
                    viewBox="0 0 24 24" style="fill: rgba(206, 3, 3, 1);transform: msFilter">
                    <path
                      d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z">
                    </path>
                    <path
                      d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z">
                    </path>
                  </svg>
                </button>
              </div>
            </td>
            <td class="px-6 py-4 justify-center">
              <div class="inline-block align-middle border border-red-600 rounded-full p-1 hover:bg-red-100">
                <button (click)="deleteUser(user.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="rounded-full" width="24" height="24"
                    viewBox="0 0 24 24" style="fill: rgba(206, 3, 3, 1);transform: msFilter">
                    <path
                      d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">
                    </path>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Form to add user -->
    <div class="mt-4" *ngIf="isAddFormVisible">
      <form class="bg-white rounded shadow-md px-8 pt-6 pb-8 mb-4" [formGroup]="adduser">
        <div class="flex justify-center items-center">
          <div class="justify-center items-center inline-block align-middle border border-red-600 rounded-full p-1">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAP9JREFUSEvtlMsRgjAQQF8cC9Ei4KyViJWolaCVyM0ZsAftJLryGSDLJGGGm7my7Nu83Y1h4WMWzs8f4DWsKnrAZg2ZhYNkMHBL4OzNpgSogAruwK4fb+GdwjYW4gBKyAzkE4n2CRQxEAdQ1SpOE0kumqoKrMQnP5vDowFEjShyjoVjCtfxhyhA02BRFNyDKIBU106RqJLmGngnsO9X3iad6kera/YmzwZUtRppcqdIbrGCwtb74ExRsCLPiLY2nEkKAjSVq9OjeB7sQxDgCflXRRa4RMW46VP/dU0u4WVgEwKIeTY6gG8qxmBta7XiZo9pyE2blzg0dF7c/wZebx/ln0IZaZTTHgAAAABJRU5ErkJggg=="
              alt="Afegir" class="rounded-full" />
          </div>
        </div>
        <h2 class="text-lg font-semibold mb-4 text-center">Afegir Usuari</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

          <!-- Name input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="firstname">Nom</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="firstname" type="text" placeholder="Nom" formControlName="name" />

            <!-- This field is required -->
            <div *ngIf="this.adduser.get('name')?.errors?.['required'] && this.adduser.get('name')?.touched"
              class="text-red-500 text-xs italic">
              Aquest camp és obligatori.
            </div>

            <!-- MaxLength -->
            <div *ngIf="this.adduser.get('name')?.errors?.['maxlength'] &&
              this.adduser.get('name')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir un màxim de 20 caràcters.
            </div>

            <!-- MinLength -->
            <div *ngIf="this.adduser.get('name')?.errors?.['minlength'] &&
              this.adduser.get('name')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir com a mínim 3 caràcters.
            </div>

            <!-- Only letters -->
            <div *ngIf="this.adduser.get('name')?.errors?.['pattern'] &&
              this.adduser.get('name')?.touched" class="text-red-500 text-xs italic">
              Només s'accepten lletres.
            </div>
          </div>

          <!-- lastname input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="lastname">Cognoms</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="lastname" type="text" placeholder="Cognoms" formControlName="lastname" />

            <!-- This field is required -->
            <div *ngIf="this.adduser.get('lastname')?.errors?.['required'] &&
              this.adduser.get('lastname')?.touched" class="text-red-500 text-xs italic">
              Aquest camp és obligatori.
            </div>

            <!-- MaxLength -->
            <div *ngIf="this.adduser.get('lastname')?.errors?.['maxlength'] &&
              this.adduser.get('lastname')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir un màxim de 20 caràcters.
            </div>

            <!-- MinLength -->
            <div *ngIf="this.adduser.get('lastname')?.errors?.['minlength'] &&
              this.adduser.get('lastname')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir com a mínim 3 caràcters.
            </div>

            <!-- Only letters -->
            <div *ngIf="this.adduser.get('lastname')?.errors?.['pattern'] &&
                  this.adduser.get('lastname')?.touched" class="text-red-500 text-xs italic">
              Només s'accepten lletres.
            </div>
          </div>

          <!-- DNI input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="dni">DNI</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="dni" type="text" placeholder="DNI" formControlName="dni" appDni=dni />

            <!-- MaxLength -->
            <div *ngIf="this.adduser.get('dni')?.errors?.['maxlength'] &&
               this.adduser.get('dni')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir un màxim de 9 caràcters.
            </div>

            <!-- MinLength -->
            <div *ngIf="this.adduser.get('dni')?.errors?.['minlength'] &&
            this.adduser.get('dni')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir com a mínim 9 caràcters.
            </div>

            <!-- Custom -->
            <div *ngIf="this.adduser.get('dni')?.errors?.['custom'] &&
           this.adduser.get('dni')?.touched" class="text-red-500 text-xs italic">
              DNI incorrecte
            </div>
          </div>

          <!-- E-mail input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="email">Email</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email" type="email" placeholder="Email" formControlName="email" />

            <!-- This field is required -->
            <div *ngIf="this.adduser.get('email')?.errors?.['required'] &&
                this.adduser.get('email')?.touched" class="text-red-500 text-xs italic">
              Aquest camp és obligatori.
            </div>

            <!-- Pattern -->
            <div *ngIf="this.adduser.get('email')?.errors?.['pattern'] &&
                this.adduser.get('email')?.touched" class="text-red-500 text-xs italic">
              Format invàlid.
            </div>
          </div>

          <!-- Password input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="password">Contrasenya</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password" type="password" placeholder="Contrasenya" formControlName="password" />

            <!-- This field is required -->
            <div *ngIf="this.adduser.get('password')?.errors?.['required'] &&
            this.adduser.get('password')?.touched" class="text-red-500 text-xs italic">
              Aquest camp és obligatori.
            </div>

            <!-- MinLength -->
            <div *ngIf="this.adduser.get('password')?.errors?.['minlength'] &&
            this.adduser.get('password')?.touched" class="text-red-500 text-xs italic">
              Aquest camp només pot contenir com a mínim 8 caràcters.
            </div>

            <!-- Pattern -->
            <div *ngIf="this.adduser.get('password')?.errors?.['pattern'] &&
            this.adduser.get('password')?.touched" class="text-red-500 text-xs italic">
              La contrasenya ha de tenir almenys un dígit, almenys una minúscula, almenys una majúscula i almenys un
              caracter especial.
            </div>
          </div>

          <!-- Roll input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="rol">Rol</label>
            <select formControlName="rol"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <option value="">Seleccionar Rol</option>
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>

            <!-- This field is required -->
            <div *ngIf="adduser.get('rol')?.errors?.['required'] && adduser.get('rol')?.touched"
              class="text-red-500 text-xs italic">
              Si us plau, seleccioni un rol.
            </div>
          </div>
        </div>

        <div class="mt-6">
          <button (click)="submitAdd()" routerlink="/register"
            class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button" [disabled]="adduser.invalid">
            Afegir Usuari
          </button>
        </div>

        <!-- Success Message -->
        <div class="bg-green-50 border border-green-400 rounded text-green-800 text-sm p-4 flex justify-between"
          *ngIf="successMessage">
          <div>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd" />
              </svg>
              <p>
                <span class="font-bold">Info:</span>
                {{ successMessage }}
              </p>
            </div>
          </div>
          <div>
            <svg (click)="closeSuccessMessage()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>

        <!-- Error message -->
        <div class="text-red-500 text-sm mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>

      </form>
    </div>

    <!-- Form to modify user -->
    <div class="mt-4" *ngIf="isModifyFormVisible">
      <form class="bg-white rounded shadow-md px-8 pt-6 pb-8 mb-4" [formGroup]="modifyuser">
        <div class="flex justify-center items-center">
          <div class="justify-center items-center inline-block align-middle border border-red-600 rounded-full p-1">
            <svg class="h-6 w-6 text-red-700" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
              stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <polyline points="12 4 4 8 12 12 20 8 12 4" />
              <polyline points="4 12 12 16 20 12" />
              <polyline points="4 16 12 20 20 16" />
            </svg>
          </div>
        </div>
        <h2 class="text-lg font-semibold mb-4 text-center">Modificar Usuari</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

          <!-- Password input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="password">Contrasenya</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password" type="password" placeholder="Contraseña" formControlName="password" />

            <!-- This field is required -->
            <div *ngIf="modifyuser.get('password')?.errors?.['required'] && modifyuser.get('password')?.touched"
              class="text-red-500 text-xs italic">
              Aquest camp és obligatori.
            </div>

            <!-- MinLength -->
            <div *ngIf="modifyuser.get('password')?.errors?.['minlength'] && modifyuser.get('password')?.touched"
              class="text-red-500 text-xs italic">
              Aquest camp només pot contenir com a mínim 8 caràcters.
            </div>

            <!-- Pattern -->
            <div
              *ngIf="this.modifyuser.get('password')?.errors?.['pattern'] && this.modifyuser.get('password')?.touched"
              class="text-red-500 text-xs italic">
              La contrasenya ha de tenir almenys un dígit, almenys una minúscula, almenys una majúscula i almenys un
              caracter especial.
            </div>
          </div>

          <!-- Role input -->
          <div>
            <label class="block text-sm font-bold mb-2 text-gray-700" for="rol">Rol</label>
            <select formControlName="rol"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <option value="">Seleccionar Rol</option>
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>

            <!-- This field is required -->
            <div *ngIf="modifyuser.get('rol')?.errors?.['required'] && modifyuser.get('rol')?.touched"
              class="text-red-500 text-xs italic">
              Si us plau, seleccioni un rol.
            </div>
          </div>

          <!-- Project dropdown for nurseryman role -->
          <div *ngIf="modifyuser.get('rol')?.value === 'nurseryman'">
            <label class="block text-sm font-bold mb-2 text-gray-700" for="project">Projecte</label>
            <select formControlName="project_id_fk"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <option value="">Seleccionar Projecte</option>
              <option *ngFor="let project of projects" [value]="project.id">{{ project.project_name }}</option>
            </select>
          </div>

        </div>

        <div class="mt-6 flex justify-center items-center space-x-4">
          <button
            class="flex-shrink-0 w-auto bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button" (click)="onSubmit()" [disabled]="modifyuser.invalid">
            Modificar Usuari
          </button>
          <button
            class="flex-shrink-0 w-auto bg-white hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded border border-red-500 focus:outline-none focus:shadow-outline"
            type="button" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      <br>
        <!-- Success Message -->
        <div class="bg-green-50 border border-green-400 rounded text-green-800 text-sm p-4 flex justify-between"
          *ngIf="successMessage">
          <div>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd" />
              </svg>
              <p>
                <span class="font-bold">Info:</span>
                {{ successMessage }}
              </p>
            </div>
          </div>
          <div>
            <svg (click)="closeSuccessMessage()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>

        <!-- Error message -->
        <div class="text-red-500 text-sm mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>

      </form>
    </div>
  </div>
</section>
